@tailwind base;
@tailwind components;
@tailwind utilities;

$layout-color: #1d1e20;
$input-color: #1a1a1a;
$text-color: #767676;

body {
  @apply bg-black;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-white;
  @apply rounded-md;
}

::-webkit-scrollbar-thumb {
  @apply bg-black;
  @apply rounded-md;
}

@layer base {
  .border-color {
    border-color: $layout-color;
  }
  .bg-color {
    background-color: $layout-color;
  }
  .bg-input-color {
    background-color: $input-color;
  }
  .text-color {
    color: $text-color;
  }
  .input {
    @apply w-full bg-input-color rounded-md text-color outline-none;
  }
  tbody td,
  thead td {
    @apply py-4 px-4;
  }

  .duration {
    @apply w-4/5;
  }

  input[type='range'] {
    @apply accent-white;
  }

  .icons {
    .playPauseIcon {
      @apply cursor-pointer bg-indigo-500 p-1 rounded-full hover:bg-indigo-400 text-white;
    }

    .defaultIcon {
      @apply cursor-pointer hidden md:flex hover:text-indigo-500;
    }
  }

  @layer components {
    .spinner {
      @apply h-5 w-5 animate-spin border-4 border-current border-solid rounded-full border-r-transparent;
    }
  }
}
